/* Arquivo: styles.css (ou styles.scss) */

.main-nav {
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.nav-logo-text {
  color: #fff;
}

.main-menu {
  display: flex;
  justify-content: center;
}

.main-menu li:nth-child(2) {
  margin-left: 85px;
  margin-right: 85px;
}

.nav-link {
  font-size: 18px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  font-weight: bold;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}
