.catalog-container {
    margin-top: 26px;
    padding: 0 40px 50px 40px ;
}

.catalog-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.catalog-products {
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  /* Ajuste automático da largura das colunas */
    justify-content: space-between;
    grid-gap: 33px 20px;
}

.product-link {
  display: block; /* Isso garante que o link se comporte como um bloco */
  text-decoration: none;
}

